body {
  background-color: #E8EEF7;
  /*background-color: white;*/
  color: black;
  font-family: Arial, sans-serif;
  font-size: smaller;
  border: 0px; 
  margin: 0px;
}

code {
  font-size: small;
}

a {
  color: darkblue;
}

a:visited {
  color: darkblue;
}

.gwt-BorderedPanel {
}

.gwt-Button {
}

.gwt-Canvas {
}

.gwt-CheckBox {
  font-size: smaller;
}

.gwt-DialogBox {
  sborder: 8px solid #C3D9FF;
  border: 2px outset;
  background-color: white;
}

.gwt-DialogBox .Caption {
  background-color: #C3D9FF;
  padding: 3px;
  margin: 2px;
  font-weight: bold;
  cursor: default;
}

.gwt-FileUpload {
}

.gwt-Frame {
	border: 0px;
	margin: 0px;
}

.gwt-HorizontalSplitter .Bar {
  width: 8px;
  background-color: #C3D9FF;
}

.gwt-VerticalSplitter .Bar {
  height: 8px;
  background-color: #C3D9FF;
}

.gwt-HTML {
  font-size: smaller;
}

.gwt-Hyperlink {
}

.gwt-Image {
}

.gwt-Label {
  font-size: smaller;
}

.gwt-ListBox {
}

.gwt-MenuBar {
  background-color: #C3D2FF;
  border: 1px solid #87B3FF;
  cursor: default;
}

.gwt-MenuBar .gwt-MenuItem {
  padding: 1px 4px 1px 4px;
  font-size: smaller;
  cursor: default;
}

.gwt-MenuBar .gwt-MenuItem-selected {
  background-color: #E8EEF7;
}

.gwt-PasswordTextBox {
}

.gwt-RadioButton {
  font-size: smaller;
}

.gwt-TabPanel {
	background-color:#E8EEF7;
}

.gwt-TabPanelBottom {
  border-left: 1px solid #87B3FF;
}

.gwt-TabBar {
  background-color: #C3D9FF;
  font-size: smaller;
}

.gwt-TabBar .gwt-TabBarFirst {
  height: 100%;
  border-bottom: 1px solid #87B3FF;
  padding-left: 3px;
}

.gwt-TabBar .gwt-TabBarRest {
  border-bottom: 1px solid #87B3FF;
  padding-right: 3px;
}

.gwt-TabBar .gwt-TabBarItem {
  border-top: 1px solid #C3D9FF;
  border-bottom: 1px solid #87B3FF;
  padding: 2px;
  cursor: pointer;
  cursor: hand;
}

.gwt-TabBar .gwt-TabBarItem-selected {
  font-weight: bold;
  background-color: #E8EEF7;
  border-top: 1px solid #87B3FF;
  border-left: 1px solid #87B3FF;
  border-right: 1px solid #87B3FF;
  border-bottom: 1px solid #E8EEF7;
  padding: 2px;
  cursor: default;
}

.gwt-TextArea {
}

.gwt-TextBox {
}

.gwt-Tree {
}

.gwt-Tree .gwt-TreeItem {
  font-size: smaller;
}

.gwt-Tree .gwt-TreeItem-selected {
  background-color: #C3D9FF;
}

.gwt-StackPanel {
}

.gwt-StackPanel .gwt-StackPanelItem {
  background-color: #C3D9FF;
  cursor: pointer;
  cursor: hand;
}

.gwt-StackPanel .gwt-StackPanelItem-selected {
}

/* -------------------------------------------------------------------------- */

.app-TopPanel {
	background-color: #C3D9FF;
	font-size: 80%;
}

.app-TopPanelLinks {
	font-size: 80%;
}

.app-BottomPanel {
	background-color: #C3D2FF;
	font-size: smaller;
}

.app-BottomPanelLinks {
	font-size: 80%;
}

.app-AboutText {
	width: 24em;
	font-size: 80%;
}

.app-ListPanel {
	background-color:#C3D9FF;
}

/* -------------------------------------------------------------------------- */

.app-Info-Panel {
	border: 0px;
  	margin: 8px;
    width: 100%;
	background-color:#E8EEF7;
}

.app-Info-Label {
  background-color: #C3D9FF;
  font-weight: bold;
  margin-top: 1em;
  padding: 2px 0px 2px 0px;
  width: 100%;
}

.app-Info-Frame {
	border: 0px;
	margin: 0px;
    width: 100%;
}


/* -------------------------------------------------------------------------- */

.infoWindow h1 {
	font-size: 200%;
}

.infoWindow td {
	font-size: 80%;
}

.infoWindow th {
	font-size: 80%;
}

.infoWindow-summary {
	width:250px
}

.infoWindow-camera {
	width:320px
}

.infoWindow-camera-wales {
	width:250px
}

/* -------------------------------------------------------------------------- */

#busyPopup {
	width:180px;
	border: 2px solid #000000;
	    
	text-align:center;
    background-color: #C3C3FF;
    opacity: .75;
    
}


#loadingtext {
     position: absolute;
     top: 50%;
     left: 0;
     width: 100%;
     text-align: center;   
}

#loadingtext p {
     width: 180px;
     margin: 0 auto 0 auto;
     padding: 10px;
     background: white;
     border: 1px solid #aaa;
}
/* -------------------------------------------------------------------------- */
